<p>
  <strong>Name:</strong>
  <%= @frog.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @frog.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@frog.picture_url, :width => 600) if @frog.picture.present? %>
</p>

<%= link_to 'Edit', edit_frog_path(@frog) %> |
<%= link_to 'Back', frogs_path %>
